[mcu MKS_THR]
serial: /dev/serial/by-id/usb-Klipper_rp2040_A598429412907258-if00

#####################################################################
#              fan
#####################################################################

## FAN0  
[heater_fan hotend_fan]
pin:MKS_THR:gpio1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

## FAN1  
[fan_generic fan0]
pin: MKS_THR:gpio2
max_power: 1.0
kick_start_time: 0.5
off_below: 0.10

[fan_generic fan1]
pin:MKS_THR:gpio3
max_power: 1.0
kick_start_time: 0.5
off_below: 0.10

#####################################################################
#   Enstop
#####################################################################

[stepper_x]
endstop_pin: MKS_THR:gpio24

[stepper_y]
endstop_pin: MKS_THR:gpio25
#####################################################################
#   Extruder
#####################################################################
[adc_temperature extruder]
temperature1:27
voltage1:3.156
temperature2:34.8
voltage2:3.10
temperature3:42
voltage3:3.01
temperature4:81.0
voltage4:2.354
temperature5:140.7
voltage5:1.029
temperature6:171
voltage6:0.619
temperature7:234
voltage7:0.222
temperature8:300
voltage8:0.098
[extruder]
step_pin: MKS_THR:gpio5
dir_pin: MKS_THR:gpio4
enable_pin: !MKS_THR:gpio10
rotation_distance: 22.4  #22.6789511	#Bondtech 5mm Drive Gears
gear_ratio: 50:17				
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin:MKS_THR:gpio0
sensor_pin: MKS_THR:gpio26
sensor_type:extruder
adc_voltage: 3.3
voltage_offset: 0.00
#   The ADC voltage offset (in Volts). The default is 0.
#pullup_resistor:4700
#inline_resistor:0
min_temp:-270
max_temp: 380
max_power: 0.6
min_extrude_temp: 170
control = pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721
pressure_advance: 0.03
pressure_advance_smooth_time: 0.040




[tmc2208 extruder]
uart_pin: MKS_THR:gpio6
interpolate: false
run_current: 0.5
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#	  Neopixel
#####################################################################

#[neopixel my_neopixel]
#pin: MKS_THR:gpio20
#chain_count: 10
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0

#####################################################################
#	ADXL345
#####################################################################

[adxl345]
cs_pin: MKS_THR:gpio13
spi_software_sclk_pin: MKS_THR:gpio14
spi_software_mosi_pin: MKS_THR:gpio15
spi_software_miso_pin: MKS_THR:gpio12

#####################################################################
#	Probe
#####################################################################

#[probe]
#pin: ^MKS_THR:gpio21
#x_offset: 0
#y_offset: 19.75
#z_offset: 7.45     #6.25
#speed: 7
#samples: 3
#samples_result: median
#sample_retract_dist: 0.5
#samples_tolerance: 0.05
#samples_tolerance_retries: 3

#[bltouch]
#sensor_pin:^MKS_THR:gpio21
#control_pin:MKS_THR:gpio11
#x_offset: -44
#y_offset: -14
#z_offset: 0.30
#speed: 15.0
#samples: 5
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.10
#samples_tolerance_retries: 1